<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Create Data</h1>
           <div class="card">
               <form action="/create" method="POST">
                   <div class="mb-8">
                       <label for="exampleFormControlInput1" class="form-label">Username</label>
                       <input type="text" class="form-control" name="username" placeholder="username">
                       <label for="exampleFormControlInput1" class="form-label">Email</label>
                       <input type="text" class="form-control" name="email" placeholder="email">
                       <label for="exampleFormControlInput1" class="form-label">Password</label>
                       <input type="text" class="form-control" name="password" placeholder="password">
                     </div>
                     <button class="btn btn-primary">Save</button>
               </form>
           </div>
        </div>
    </div>
</div>